.group-main
  .group-main__center
    = form_for @group, url: groups_path, method: :post, html: {class: 'group-main__center__from'} do |f|
      .group-main__center__from__header
        .group-main__center__from__header__text
          グループ作成
      .group-main__center__from__menber
        .group-main__center__from__menber__1set
          .group-main__center__from__menber__1set__header
            .group-main__center__from__menber__1set__header__text
              グループ名
            = f.text_field :name, class: "group-main__center__from__menber__1set__input"
          .group-main__center__from__menber__1set__header
            .group-main__center__from__menber__1set__header__text
              グループ詳細
            = f.text_field :text, class: "group-main__center__from__menber__1set__input"
          .group-main__center__from__menber__1set__header
            .group-main__center__from__menber__1set__header__text
              VCServer
            = f.text_field :servername, class: "group-main__center__from__menber__1set__input"
            = f.submit "登録する"

